    <h1 class="auto-style2">Elige una butaca</h1>
    <table class="auto-style1">
        <tr id="butaca">
            <td class="auto-style3">
                A</td>
            <td>
                &nbsp;</td>
            <td class="auto-style5">&nbsp;</td>
            <td class="auto-style15">
                1<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            <td class="auto-style15">
                2<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            <td class="auto-style15">
                3<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            
            <td class="auto-style15">&nbsp;</td>
            <td class="auto-style15">
                4<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            <td class="auto-style15">
                5<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            <td class="auto-style15">
                6<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            
            <td class="auto-style10">&nbsp;</td>
            <td class="auto-style12">&nbsp;</td>
            <td class="auto-style3">A</td>
        </tr><br><br><br>
        <tr>
            <td class="auto-style3">B</td>
            <td class="auto-style6"></td>
            <td class="auto-style7"></td>
            <td class="auto-style14">
                7<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            <td class="auto-style14">
                8<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            <td class="auto-style14">
                9<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            
            <td class="auto-style8"></td>
            <td class="auto-style14">
                10<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            <td class="auto-style14">
                11<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            <td class="auto-style14">
                12<br><img alt="" src="http://localhost/proyecto-cine/public/img/butaca.png" style=" width:100px" /></td>
            
            <td class="auto-style11"></td>
            <td class="auto-style13"></td>
            <td class="auto-style3">B</td>
        </tr>
</table>

