<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      
      <p >Cinetix © 2022</p><br>
      <img src="../../assets/logoOsc.png" alt="logo" width="150px">
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Páginas principales</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Películas</a></li>
        <li class="nav-item mb-2"><a href="/Complementos" class="nav-link p-0 text-muted">Complementos</a></li>
        <li class="nav-item mb-2"><a href="/Contacto" class="nav-link p-0 text-muted">Contacto</a></li>
        <li class="nav-item mb-2"><a href="/Login" class="nav-link p-0 text-muted">Login</a></li>
        <li class="nav-item mb-2"><a href="/Registro" class="nav-link p-0 text-muted">Registro</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Redes sociales</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="https://www.instagram.com/cristiano/?hl=es" class="nav-link p-0 text-muted">Instagram</a></li>
        <li class="nav-item mb-2"><a href="https://es-es.facebook.com" class="nav-link p-0 text-muted">Facebook</a></li>
        <li class="nav-item mb-2"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" class="nav-link p-0 text-muted">Youtube</a></li>
        <li class="nav-item mb-2"><a href="https://github.com/ivansito4/Proyecto-cine" class="nav-link p-0 text-muted">GitHub</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Otras página de Interés</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/MapaWeb" class="nav-link p-0 text-muted">Mapa web</a></li>
        <li class="nav-item mb-2"><a href="/Accesibilidad" class="nav-link p-0 text-muted">Accesibilidad</a></li>
      </ul>
    </div>
  </footer>
