<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/img/gatoConBotasCarr.webp" width="900px" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<button class="cssbuttons-io-button"> Comprar entradas
				<div class="icon">
					<svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none"></path>
						<path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
							fill="currentColor"></path>
					</svg>
				</div>
			</button>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/img/morbiusCarr.jpg" width="900px" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<button class="cssbuttons-io-button"> Comprar entradas
				<div class="icon">
					<svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none"></path>
						<path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
							fill="currentColor"></path>
					</svg>
				</div>
			</button>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/img/jurassicworldCarr.png" alt="Random third slide" width="900px" />
		</div>
		<div class="carousel-caption">
			<button class="cssbuttons-io-button"> Comprar entradas
				<div class="icon">
					<svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none"></path>
						<path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
							fill="currentColor"></path>
					</svg>
				</div>
			</button>
		</div>
	</ng-template>
</ngb-carousel>