<div *ngIf="pelicula" class="datos">
    <table>
        <tr>
            <td rowspan="5"><img src="http://localhost/proyecto-cine/public/img/{{pelicula.poster}}"></td>
            <td><p>Nombre:</p>
                <p class="parrafosDatos">{{pelicula.nombre}}</p></td>
        </tr>
        <tr>
            <td>
                <p>Géneros: </p>
                <p class="parrafosDatos">{{pelicula.tipo}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Duración: </p>
        <p class="parrafosDatos">{{pelicula.duracion}}</p>
            </td>
        </tr>

        <tr>
            <td>
                <p>Fecha de estreno: </p>
                <p class="parrafosDatos">{{pelicula.fecha_estreno }}</p>
            </td>
        </tr>

        <tr>
            <td>
                <div class="wrapper">
                    <button [routerLink]="['/Sesiones',pelicula.id]"> Comprar entradas  
                    </button>
                  </div>
            </td>
        </tr>

    </table>
</div>
  