table,tr,td{
    color: rgb(255, 255, 255);
      text-align: center;
      align-items: center;
      font-size: 30px;
      background-color: #312f2d;
      
}
.contenedor{
    align-items: center;
    align-self: center;
    margin-left: 20%;
    margin-right: 30%;
    
}

table{
    margin-left: 17%;
    column-gap: 20px;
    align-self: center;
    box-shadow: 0 55px 55px rgb(0, 0, 0);
    border-radius: 60px;
}
td{
    padding-top: 35px;
}
