<ul>
    <li>
        <div class="card">
            <div class="card2">
                <img
                    src="https://www.lahiguera.net/cinemania/pelicula/10179/el_gato_con_botas_el_ultimo_deseo-cartel-10596.jpg" />
            </div>
        </div>
    </li>
    <li>
        <div class="card">
            <div class="card2">
                <img
                    src="https://www.lahiguera.net/cinemania/pelicula/10179/el_gato_con_botas_el_ultimo_deseo-cartel-10596.jpg" />
            </div>
        </div>
    </li>
    <li>
        <div class="card">
            <div class="card2">
                <img
                    src="https://www.lahiguera.net/cinemania/pelicula/10179/el_gato_con_botas_el_ultimo_deseo-cartel-10596.jpg" />
            </div>
        </div>
    </li>
    <li>
        <div class="card">
            <div class="card2">
                <img
                    src="https://www.lahiguera.net/cinemania/pelicula/10179/el_gato_con_botas_el_ultimo_deseo-cartel-10596.jpg" />
            </div>
        </div>
    </li>
    <li>
        <div class="card">
            <div class="card2">
                <img
                    src="https://www.lahiguera.net/cinemania/pelicula/10179/el_gato_con_botas_el_ultimo_deseo-cartel-10596.jpg" />
            </div>
        </div>
    </li>
</ul>