
.techo{
    padding-top: 0px;
    padding-bottom: 0px;
}
.nombre-empresa{
    margin-left: 22px;
    font-size: 22px;
}
.menu{
    margin-right: 200px;
    font-size: 15px;
}
*{
    color: white;
}
*:focus,*:hover{
    color: orange;
}

img{
    width: 70px;
    margin-left: 10px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}
li{
    margin-left: 40px;
}





