<div class="region region-content centrado">
    <div id="block-titulodelapagina" class="block block-core block-page-title-block">



        <h1 class="page-title"><span
                class="field field--name-title field--type-string field--label-hidden">Accesibilidad</span>
        </h1>


    </div>
    <div id="block-torrevieja-contenidoprincipaldelapagina" class="block block-system block-system-main-block">



        <article role="article" class="node node--type-pagina-basica node--promoted node--view-mode-full">





            <div class="node__content">
                <div class="layout layout--onecol">
                    <div class="layout__region layout__region--content">
                        <div
                            class="block block-layout-builder block-extra-field-blocknodepagina-basicacontent-moderation-control">



                        </div>
                        <div
                            class="views-element-container block block-views block-views-blockwidget-multimedia-enlaces-block-15">


                            <div>
                                <div
                                    class="ps-informacion-general view view-widget-multimedia-enlaces view-id-widget_multimedia_enlaces view-display-id-block_15 js-view-dom-id-2ecb9e42bfab452da44907778e5543f196ba7e664ae19bcf8a26de27a5c5c097">



                                    <div class="view-content">
                                        <div class="ps-alerta-id- grid"></div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="block block-layout-builder block-field-blocknodepagina-basicabody">

                            <div
                                class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                
                                <p>El sitio web Cinetix satisface algunos de los puntos
                                    verificación de prioridad 2 (adecuación de nivel Doble A) definidos en la
                                    especificación de Pautas de Accesibilidad al Contenido en la Web (WCAG 2.0) por la
                                    Iniciativa de Accesibilidad Web (WAI) del Consorcio World Wide Web (W3C).</p>
                                <p>Este sitio se ha diseñado adaptándose a los estándares y normativas vigentes en
                                    relación a la accesibilidad, para lo cual se realizan revisiones previas a cada
                                    publicación de nuevos contenidos. En cualquier caso, es posible que encuentre alguna
                                    página que no se adapte al 100% a estos estándares, ya que algunas de las secciones
                                    contenidas en el portal están en proceso de adaptación y mejora. Si usted
                                    experiementa alguna dificultad en el acceso la información contenida en este sitio
                                    web, por favor, contacte con nosotros desde la página de contacto. Realizaremos las mejoras necesarias a la
                                    mayor brevedad posible.</p>
                                <p>&nbsp;</p>
                                <h3>Teclas de acceso rápido</h3>
                                <p>Pulsando una combinación de teclas podrá acceder rápidamente a determinadas páginas o
                                    contenidos de la página.</p>
                                <ul>
                                    <li><strong>Tecla 1:</strong>&nbsp;Página de incio</li>
                                    <li><strong>Tecla 2:</strong>&nbsp;Catálogo de trámites</li>
                                    <li><strong>Tecla 3:</strong>&nbsp;Carpeta electrónica</li>
                                </ul>
                                <p>Dependiendo del navegador que utilice, el procedimiento es distinto. A continuación
                                    explicamos el funcionamiento para los navegadores más habituales.</p>
                                <ul>
                                    <li><strong>Internet Explorer:</strong>&nbsp;Alt + tecla + Intro</li>
                                    <li><strong>Mozilla, Firefox y Chrome:</strong>&nbsp;Alt + tecla (en Firefox 2: Alt
                                        + Mayúsculas + tecla)</li>
                                    <li><strong>Opera:</strong>&nbsp;Mayúsculas + Esc + tecla</li>
                                    <li><strong>Safari:</strong>&nbsp;Cmd + tecla</li>
                                </ul>
                                <p>&nbsp;</p>
                                <h3>Tamaño del texto</h3>
                                <p>Los tamaños de las fuentes están definidos con unidades relativas para que pueda
                                    ampliar o disminuir el tamaño de la fuente desde las opciones del navegador:</p>
                                <ul>
                                    <li><strong>Internet Explorer, Mozilla y Firefox:</strong>&nbsp;Ver &gt; Tamaño del
                                        texto</li>
                                    <li><strong>Opera:</strong>&nbsp;Ver &gt; Zoom</li>
                                    <li><strong>Safari:</strong>&nbsp;Ver &gt; Hacer el texto más grande</li>
                                    <li><strong>Chrome:</strong>&nbsp;Controla la página actual &gt; Tamaño del texto
                                    </li>
                                </ul>
                                <p>Para modificar el tamaño de todo en la página (efecto zoom):</p>
                                <ul>
                                    <li>Ctrl + + para aumentarlo</li>
                                    <li>Ctrl + - para disminuirlo</li>
                                    <li>Ctrl + 0 restaura el tamaño original</li>
                                </ul>
                                <p>&nbsp;</p>
                                
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </article>

    </div>

</div>