<li><a href="/a">Elegir una película</a>
    <ul>
        <li><a href="/Inicio/Detalles/15">Datos de la película (El gato con botas)</a></li>
        <li><a href="/Sesiones/15">Sesión de película (El gato con botas)</a></li>
        <li><a href="/Sesiones/15/Butacas/1">Elegir butaca (El gato con botas, sesión 1)</a></li>
    </ul>
</li>
<li><a href="/Complementos" >Complementos</a></li>
<li><a href="/Contacto" >Contacto</a></li>
<li><a href="/Login" >Login</a></li>
<li><a href="/Registro" >Registro</a></li>
