<div class="login-box">
    <form errorTailor>
      <div class="user-box">
        <input type="text"  [(ngModel)]="nombre" name="nombre" >
        <label>Nombre</label>
      </div>
      <div class="user-box">
        <input type="text"  [(ngModel)]="apellidos" name="apellidos" >
        <label>Apellidos</label>
      </div>
      <div class="user-box">
        <input type="email" name="email" [(ngModel)]="email">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="text"  [(ngModel)]="login" name="login" >
        <label>Nombre de usuario</label>
      </div>
      <div class="user-box">
        <input type="password"  [(ngModel)]="contra" name="password" >
        <label>Contraseña</label>
      </div>
      <div class="user-box">
        <input type="password"  [(ngModel)]="contra2" name="password2" >
        <label>Repetir contraseña</label>
      </div>
      <div class="user-box">
        <input type="number"  [(ngModel)]="telefono" name="telefono" >
        <label>Teléfono</label>
      </div>
      <a (click)="validar()">
             Registrarme
         <span></span>
      </a>
    </form>
  </div>
<div class="separador"></div>
