<div class="login-box">
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Nombre</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Apellidos</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Nombre de usuario</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Contraseña</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Repetir contraseña</label>
      </div>
      <div class="user-box">
        <input type="number" name="" required="">
        <label>Teléfono</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>DNI</label>
      </div>
      <a href="#">
             Registrarme
         <span></span>
      </a>
    </form>
  </div>

